@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap");
$bg-color: #fff;
$black-color: #000;
$footer-bg-color: #222;
$link-color: #5b5b5b;
$link-hover: #00ce1b;
$primary-color: #5b5b5b;
$secondary-color: #9cf274;
$gradian-left: #00c663;
$gradian-right: #00e817;
// fonts ->
$cursive-font: "Great Vibes";
$regular-font: "Poppins", sans-serif;
