$gradian-left:#00c663;
$gradian-right:#00e817;
$secondary-color: #9cf274;
.gradiant {
    width: 100%;
    height: 150px;
    background-image: linear-gradient(to right, $gradian-left, $gradian-right);
    & p {
      font-size: 35px;
      color: #fff;
      
    }
    & a {
      background-color: #fff;
      text-decoration: none;
      padding: 10px 40px;
      border-radius: 5px;
      position: relative;
      top: 50px;
      color: $secondary-color;
      &:hover {
        transition: ease-in 0.2s;
        background-color: orange;
        color: #fff;
      }
    }
  }
  @media only screen and (max-width: 600px) {
    .gradiant {
      width: 100%;
      height: 200px;
      & a {
        position: relative;
        top: 0px;
      }
    }
  }